ul {
	list-style-type: none;
	padding: 0;
}

ul > li {
	margin: 0 -10vw;
	width: calc(100% + 20vw);
	max-width: 100vw;
}

ul > li > a {
	display: block;
	padding: .5em 10vw;
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	color: #424242;
	text-decoration: none;
	transition: color .25s, background-color .25s;
}

ul > li:first-child > a {
	border-top: 1px solid rgba(0, 0, 0, 0.25);
}

ul > li > a:hover {
	background-color: rgba(0, 0, 0, 0.1);
}