pre {
	background-color: #E0E0E0;
	border: 1px solid #BDBDBD;
	overflow-x: auto;
	padding: 16px;
}

code {
	font-family: 'Roboto Mono', monospace;
	background-color: #E0E0E0;
	padding-left: 4px;
	padding-right: 4px;
	font-size: 0.9em;
}

code * {
	font-family: 'Roboto Mono', monospace;
	font-size: 0.9em;
}

a > code {
	display: inline-block;
	text-decoration: none;
	border-bottom: 1px solid currentColor;
}

pre > code {
	padding-left: 0px;
	padding-right: 0px;
	font-size: 1em;
}

pre > code * {
	font-size: 1em;
}

.hljs {
	display: initial;
	background: initial;
	overflow-x: initial;
	padding: initial;
}

pre.highlight {
	background-color: rgb(25, 23, 28);
	color: #FFFFFF;
}
