pre {
	background-color: #E0E0E0;
	background-color: var(--normal-background-darker);
	border: 1px solid #BDBDBD;
	border: 1px solid var(--normal-outline);
	overflow-x: auto;
	padding: 16px;
}

code {
	font-family: 'Roboto Mono', monospace;
	background-color: #E0E0E0;
	background-color: var(--normal-background-darker);
	padding-left: 4px;
	padding-right: 4px;
	font-size: 0.9em;
}

code * {
	font-family: 'Roboto Mono', monospace;
	font-size: 0.9em;
}

a > code {
	display: inline-block;
	text-decoration: none;
	border-bottom: 1px solid currentColor;
}

pre > code {
	padding-left: 0px;
	padding-right: 0px;
	font-size: 1em;
}

pre > code * {
	font-size: 1em;
}
