* {
	font-family: 'Miriam Libre', monospace;
	animation-name: fadeIn;
	animation-duration: .3s;
	animation-timing-function: ease-out;

	--normal-color: #424242;
	--normal-color-text: #616161;
	--normal-color-focus: #000000;
	--normal-color-focusable: #808080;
	--normal-background: #FFFFFF;
	--normal-background-dark: #F5F5F5;
	--normal-background-darker: #E0E0E0;
	--normal-outline: #BDBDBD;
	--normal-outline-dark: #000000;
	--normal-focus: rgba(0, 0, 0, 0.1);
	--normal-focus-light: rgba(0, 0, 0, 0.03);
	--accent-color: #0091EA;
	--accent-color-text: #0067A4;
	--accent-background: #0091EA;
	--accent-outline: #0091EA;
	--accent-outline-fade: rgba(0, 72, 117, 0.3);
	--accent-outline-fade2: rgba(0, 72, 117, 0.5);
	--accent-inverse: #FFFFFF;
}

.--theme-dark,
.--theme-dark * {
	--normal-color: #F5F5F5;
	--normal-color-text: #BDBDBD;
	--normal-color-focus: #FFFFFF;
	--normal-color-focusable: #A8A8A8;
	--normal-background: #212121;
	--normal-background-dark: #303030;
	--normal-background-darker: #424242;
	--normal-outline: #424242;
	--normal-outline-dark: #FFFFFF;
	--normal-focus: rgba(255, 255, 255, 0.1);
	--normal-focus-light: rgba(255, 255, 255, 0.03);
	--accent-color: #09A3FF;
	--accent-color-text: #58BDF9;
	--accent-background: #2FA4E9;
	--accent-outline: #09A3FF;
	--accent-outline-fade: rgba(0, 72, 117, 0.3);
	--accent-outline-fade2: rgba(0, 72, 117, 0.5);
	--accent-inverse: #000000;
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

.noanim {
	animation: none;
}

.noanim>* {
	animation: none;
}

body {
	margin: 0;
	background-color: #FFFFFF;
	background-color: var(--normal-background);
	color: #424242;
	color: var(--normal-color);

	word-wrap: break-word;
	word-break: break-word;
}

p {
	color: #616161;
	color: var(--normal-color-text);
}

a {
	cursor: pointer;
	color: #0091EA;
	color: var(--accent-color-text);
	transition: color .25s;
	-moz-transition: color .25s;
	-webkit-transition: color .25s;
}

a:hover {
	color: #000000;
	color: var(--normal-color-focus);
}

i.material-icons.focusable {
	color: #808080;
	color: var(--normal-color-focusable);

	transition: color .25s;
	-moz-transition: color .25s;
	-webkit-transition: color .25s;
}

i.material-icons.focusable:hover {
	color: #000000;
	color: var(--normal-color-focus);
}

i.material-icons.clickable {
	user-select: none;
	cursor: pointer;
}

img {
	max-width: 100%;
	max-height: 80vh;
}

img.round,
object.round {
	border-radius: 50%;
	border: 1px solid #000000;
	border: 1px solid var(--normal-outline-dark);
	box-shadow: 0 0 1px 0px #000, 0 0 1px 0px #000;
	box-shadow: 0 0 1px 0px var(--normal-outline-dark), 0 0 1px 0px var(--normal-outline-dark);
}

button, input[type=submit],
input[type=file] + label {
	border: none;
	outline: none;
	user-select: none;
	cursor: pointer;
	padding: 0.75em 1.25em;
	background-color: #0091EA;
	background-color: var(--accent-background);
	color: #FFF !important;
	color: var(--accent-inverse) !important;
	box-shadow: 0 0.1em 0.3em rgba(0, 72, 117, 0.37);
	box-shadow: 0 0.1em 0.3em var(--accent-outline-fade);

	transition: box-shadow .25s, background-color .25s, color .25s;
	-moz-transition: box-shadow .25s, background-color .25s, color .25s;
	-webkit-transition: box-shadow .25s, background-color .25s, color .25s;
}

button.selectable {
	background-color: rgba(255, 255, 255, 0);
	color: #808080 !important;
	color: var(--normal-color-focusable) !important;
	box-shadow: none;
}

button:hover, input[type=submit]:hover,
input[type=file] + label:hover {
	background-color: #0091EA;
	background-color: var(--accent-background);
	color: #FFF !important;
	color: var(--accent-inverse) !important;
	box-shadow: 0 0.4em 1.2em rgba(0, 72, 117, 0.37);
	box-shadow: 0 0.4em 1.2em var(--accent-outline-fade);
}

button.selectable:hover {
	background-color: rgba(255, 255, 255, 0.2);
	color: #000 !important;
	color: var(--normal-color-focus) !important;
	box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.37);
	box-shadow: 0 0.1em 0.3em var(--accent-outline-fade);
}

button.selectable[selected] {
	background-color: #0091EA;
	background-color: var(--accent-background);
	color: #FFF !important;
	color: var(--accent-inverse) !important;
	box-shadow: 0 0.4em 1.2em rgba(0, 72, 117, 0.5);
	box-shadow: 0 0.4em 1.2em var(--accent-outline-fade2);
}

input[type=submit] {
	padding: .6em .8em;
}

input[type=text] {
	padding: calc(.6em - 1px) .8em;
	border: 1px solid #BDBDBD;
	border: 1px solid var(--normal-outline);
	background-color: #FFF;
	background-color: var(--normal-background);
}

input[type=checkbox] {
	display: none;
	outline: none;
}

input[type=checkbox] + label {
	display: inline-block;
	height: 24px;
	width: 24px;
	padding: 0;
	margin: 0;
	margin-left: 24px;
	margin-right: 16px;
	background-image: url("/images/ic-checkbox-unchecked.svg");
	outline: none;
}

input[type=checkbox]:checked + label {
	background-image: url("/images/ic-checkbox-checked.svg");
}

input[type=checkbox] + label {
	transform: translateY(6px);
	cursor: pointer;
}

input[type=file] {
	display: none;
}

input[type=file] + label {
	font-size: .8em;
}

input[type=range] {
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	width: 128px;
	height: 20px;
	margin: 0;
	border: none;
	background-color: rgba(0, 0, 0, 0.1);
	background-color: var(--normal-focus);
	border: 1px solid rgba(0, 0, 0, 0.25);
	border: 1px solid var(--normal-outline);
	outline: none;
}

input[type=range]::-moz-range-track {
	border: none;
	background: transparent;
}

input[type=range]::-ms-track {
	border: inherit;
	color: transparent;
	background: transparent;
}

input[type=range]::-ms-fill-lower,
input[type=range]::-ms-fill-upper {
	background: transparent;
}

input[type=range]::-ms-tooltip {
	display: none;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 24px;
	height: 20px;
	border: none;
	background-color: #0091EA;
	background-color: var(--accent-color);
	box-shadow: 0 0.1em 0.3em rgba(0, 72, 117, 0.37);
	box-shadow: 0 0.1em 0.3em var(--accent-outline-fade);
}

input[type=range] + label {
	display: inline-block;
	height: 20px;
	min-width: 40px;
	padding: 0 .5em;
	text-align: center;
	vertical-align: top;
	line-height: 22px;
	background: #FFF;
	background: var(--normal-background);
	border: 1px solid #BDBDBD;
	border: 1px solid var(--normal-outline);
}

select {
	display: block;
	outline: none;
	padding: 0.4em 0.8em;
	padding-right: 30px;
	margin-bottom: 0.8em;
	min-width: 100%;
	background-color: #0091EA;
	background-color: var(--accent-color);
	color: #FFF;
	color: var(--accent-inverse);
	border: none;
	box-shadow: 0 0.1em 0.3em rgba(0, 72, 117, 0.37);
	box-shadow: 0 0.1em 0.3em var(--accent-outline-fade);

	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	background: linear-gradient(45deg, transparent 50%, #FFF 50%), linear-gradient(135deg, #FFF 50%, transparent 50%), #0091EA;
	background: linear-gradient(45deg, transparent 50%, var(--accent-inverse) 50%), linear-gradient(135deg, var(--accent-inverse) 50%, transparent 50%), var(--accent-color);
  	background-position: calc(100% - 17px) 1em, calc(100% - 12px) 1em;
  	background-size: 5px 5px, 5px 5px;
  	background-repeat: no-repeat;

	-webkit-transition: color .25s, background-color .25s, box-shadow .25s;
	-moz-transition: color .25s, background-color .25s, box-shadow .25s;
	transition: color .25s, background-color .25s, box-shadow .25s;
}

select:hover {
	box-shadow: 0 0.4em 1.2em rgba(0, 72, 117, 0.37);
	box-shadow: 0 0.4em 1.2em var(--accent-outline-fade);
}

select:focus {
	background-color: transparent;
	color: #000;
	color: var(--normal-color-focus);
}

select::-ms-expand {
	display: none;
}

select * {
	background-color: #FFF;
	background-color: var(--normal-background);
	color: #000;
	color: var(--normal-color-focus);

	-webkit-transition: color .25s, background-color .25s;
	-moz-transition: color .25s, background-color .25s;
	transition: color .25s, background-color .25s;
}

select *:hover {
	background-color: #0091EA;
	background-color: var(--accent-color);
	color: #FFF;
	color: var(--accent-inverse);
}

form {
	padding: 2em 4em;
	background-color: #F5F5F5;
	background-color: var(--normal-background-dark);
	border-top: 1px solid #BDBDBD;
	border-top: 1px solid var(--normal-outline);
	border-bottom: 1px solid #BDBDBD;
	border-bottom: 1px solid var(--normal-outline);
	width: 100%;
	text-align: center;
}

form.wide {
	width: 100% !important;
	padding-left: 10vw;
	padding-right: 10vw;
}

table {
	display: inline-block;
	max-width: 100%;
	overflow-x: auto;
	border-collapse: collapse;
	border: 1px solid #BDBDBD;
	border: 1px solid var(--normal-outline);
}

thead {
	background: #BDBDBD;
	background: var(--normal-outline);
}

th, td {
	padding: 0.5em 1em;
	text-align: left;
	word-break: normal;
}

tr {
	border-bottom: 1px solid #BDBDBD;
	border-bottom: 1px solid var(--normal-outline);
}

tr:last-child {
	border-bottom: none;
}

snackbar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding-left: 10vw;
	padding-right: 10vw;
	padding-top: 1em;
	padding-bottom: .5em;
	background-color: rgba(255, 255, 255, 0.7);
	border-top: 1px solid #BDBDBD;
	border-top: 1px solid var(--normal-outline);
	z-index: 102;

	transition: padding .25s;
	-moz-transition: padding .25s;
	-webkit-transition: padding .25s;
}

snackbar > * {
	vertical-align: middle;
}

snackbar > span {
	display: inline-block;
	padding-right: 2em;
}

snackbar > a {
	float: right;
}

filter {
	display: block;
	background-color: #FFF;
	background-color: var(--normal-background);
	border: 1px solid #BDBDBD;
	border: 1px solid var(--normal-outline);
	z-index: 70;
	width: 80vw;
	max-width: 492px;
	height: auto;
	max-height: 4em;
	outline: none;
	overflow: hidden;

	transition: max-height .25s, box-shadow .25s;
	-moz-transition: max-height .25s, box-shadow .25s;
	-webkit-transition: max-height .25s, box-shadow .25s;
}

filter:focus, filter:focus-within {
	max-height: 100vh;
}

filter > .title {
	width: calc(100% - 1px);
	height: 4em;
	background-color: #F5F5F5;
	background-color: var(--normal-background-dark);
	margin-left: 1px;
}

filter > .title > input {
	height: 100%;
	width: calc(100% - 88px);
	outline: none;
	border: none;
	padding: 0;
	padding-left: 24px;
	background-color: rgba(0, 0, 0, 0);
}

filter i.material-icons {
	color: #808080;
	color: var(--normal-color-focusable);
	margin-left: 12px;
	margin-right: 12px;
	position: relative;
	right: 0;
}

filter > .title > i.material-icons {
	top: calc(1em - 16px);
	transform: rotate(0deg);
	
	transition: transform .25s;
	-moz-transition: transform .25s;
	-webkit-transition: transform .25s;
}

filter:focus > .title > i.material-icons,
filter:focus-within > .title > i.material-icons {
	transform: rotate(180deg);
}

filter > .content {
	border-top: 1px solid #BDBDBD;
	border-top: 1px solid var(--normal-outline);
	padding-top: 16px;
	padding-bottom: 20px;
}

filter .fitem {
	display: table;
	width: 100%;
	padding: 0.25em 0;
	user-select: none;
}

filter .fitem > span {
	display: inline-block;
	width: calc(100% - 2em - 92px);
}

filter .fitem > i.material-icons {
	transform: translateY(6px);
}

nav {
	width: 80% !important;
	height: auto;
	text-align: center;
	display: block;
	padding: 8px 10%;
	overflow: visible;
	overflow: overlay;
	z-index: 100;
	
	transition: width .25s;
	-moz-transition: width .25s;
	-webkit-transition: width .25s;
}

nav>button {
	display: inline-block;
	color: #808080;
	color: var(--normal-color-focusable);
	text-decoration: none;
	user-select: none;
	white-space: nowrap;
	margin: 4px;
}

nav>button>* {
	display: table-cell;
	vertical-align: middle;
}

main {
	display: block;
	margin-left: 10vw;
	margin-right: 10vw;
	margin-bottom: 2em;
	padding-top: 2em;
	
	transition: transform .25s;
	-moz-transition: transform .25s;
	-webkit-transition: transform .25s;
}

.wide {
	margin: 0 -10vw;
	width: calc(100% + 20vw);
	max-width: 100vw;
}

footer {
	margin-left: 10vw;
	margin-right: 10vw;
	margin-bottom: 8em;
	
	transition: transform .25s;
	-moz-transition: transform .25s;
	-webkit-transition: transform .25s;
}

footer > a {
	font-size: .75em;
	color: #616161;
	color: var(--normal-color-text);
}

.item {
	display: block;
    cursor: pointer;
    text-decoration: none;
    color: #616161;
    color: var(--normal-color-text);
    margin-bottom: 1em;
    user-select: none;

	transition: color .25s;
	-moz-transition: color .25s;
	-webkit-transition: color .25s;
}

.item > span {
	display: block;
	color: #0091EA;
	color: var(--accent-color-text);

	transition: color .25s;
	-moz-transition: color .25s;
	-webkit-transition: color .25s;
}

.item:hover > span {
	color: #000;
	color: var(--normal-color-focus);
}

.item.image {
	margin-bottom: 2em;
	border: 1px solid #BDBDBD;
	border: 1px solid var(--normal-outline);
}

.item.image > span {
	color: rgba(0, 0, 0, 0.7);
	padding: 1em 2em;

	transition: background-color .25s, color .25s;
	-moz-transition: background-color .25s, color .25s;
	-webkit-transition: background-color .25s, color .25s;
}

.item.image:hover > span {
	background-color: rgba(0, 0, 0, 0.03);
	background-color: var(--normal-focus-light);
	color: #000;
	color: var(--normal-color-focus);
}

.item.image > div {
	display: flex;
	align-items: center;
	width: 100%;
	max-height: 40vh;
	overflow: hidden;
}

.item.image > div > img,
.item.image > div > object {
	width: 100%;
	max-height: initial;
	transform: scale(1);

	transition: transform .25s;
	-moz-transition: transform .25s;
	-webkit-transition: transform .25s;
}

.item.image:hover > div > img,
.item.image:hover > div > object {
	transform: scale(1.1);
}

.grid {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	margin: -10px;
}

.grid > .item {
	word-break: break-word;
	word-wrap: break-word;
}

.grid > .box {
	display: grid;
	align-content: baseline;
	text-align: center;
	padding: 1.5em 16px;
	width: 200px;
	border: 2px solid #0091EA;
	border: 2px solid var(--accent-color);
	margin: 10px;

	transition: color .25s, background-color .25s, box-shadow .25s;
	-moz-transition: color .25s, background-color .25s, box-shadow .25s;
	-webkit-transition: color .25s, background-color .25s, box-shadow .25s;
}

.grid > .box > img {
	width: 48px;
	height: 48px;
	margin: auto;
	margin-bottom: 1em;
}

.grid > .box:hover {
	background-color: rgba(0, 0, 0, 0.03);
	background-color: var(--normal-focus-light);
	box-shadow: 0 0.4em 1.2em rgba(0, 72, 117, 0.37);
	box-shadow: 0 0.4em 1.2em var(--accent-outline-fade);
}

.item.box.image {
	border-color: #000;
	background-color: var(--item-bg);
	color: var(--item-fg);
}

.item.box.image > div {
	margin: -1.5em -16px;
	margin-bottom: 1em;
	max-height: 8em;
	width: calc(100% + 31.5px);
}

.item.box.image > span {
	padding: 0;
	background: initial;
	background-color: var(--item-bg);
	color: var(--item-fg);
	font-weight: bolder;
}

sidebar {
	display: block;
	padding: 2em 10vw;
	background-color: #F5F5F5;
	background-color: var(--normal-background-dark);
	border-bottom: 1px solid #BDBDBD;
	border-bottom: 1px solid var(--normal-outline);
	user-select: none;
	overflow-y: hidden;
	max-height: 0px;
	z-index: 98;

	transition: max-height .25s;
	-moz-transition: max-height .25s;
	-webkit-transition: max-height .25s;
}

sidebar:hover {
	max-height: 150vh;
}

sidebar * {
	color: #616161;
	color: var(--normal-color-text);
}

sidebar::before {
	content: '...';
	display: block;
	text-align: center;
	color: #808080;
	color: var(--normal-color-focusable);
	line-height: 1em;
	font-size: 2em;
	
	position: relative;
	left: 50%;
	top: -0.5em;
	transform: translateX(-50%);

	transition: opacity .25s;
	-moz-transition: opacity .25s;
	-webkit-transition: opacity .25s;
}

sidebar:hover::before {
	opacity: 0;
}

.link {
	text-decoration: none;
	display: flex;
	align-items: center;
	height: 2em;
	margin-bottom: 0.5em;
}

.link > img,
.link > object {
	width: 24px;
	height: 24px;
	margin-right: 1em;
}

.link > img.round,
.link > object.round {
	border-color: #808080;
	border-color: var(--normal-color-focusable);

	transition: border .25s;
	-moz-transition: border .25s;
	-webkit-transition: border .25s;
}

.link:hover > img.round,
.link:hover > object.round {
	border-color: #000000;
	border-color: var(--normal-color-focus);
}

.link > img:not(.round),
.link > object:not(.round) {
	filter: contrast(0);

	transition: filter .25s;
	-moz-transition: filter .25s;
	-webkit-transition: filter .25s;
}

.link:hover > img:not(.round),
.link:hover > object:not(.round) {
	filter: contrast(0) brightness(0);
}

.link > span {
	color: #808080;
	color: var(--normal-color-focusable);
	
	transition: color .25s;
	-moz-transition: color .25s;
	-webkit-transition: color .25s;
}

.link:hover > span {
	color: #000;
	color: var(--normal-color-focus);
}

@media(max-width: 2854px) {
	.grid > .item {
		width: calc(12.5% - 56px);
	}
}

@media(max-width: 2534px) {
	.grid > .item {
		width: calc(14.2% - 56px);
	}
}

@media(max-width: 2214px) {
	.grid > .item {
		width: calc(16.5% - 56px);
	}
}

@media(max-width: 1894px) {
	.grid > .item {
		width: calc(20% - 56px);
	}
}

@media(max-width: 1574px) {
	.grid > .item {
		width: calc(25% - 56px);
	}
}

@media(max-width: 1254px) {
	.grid > .item {
		width: calc(33.3% - 56px);
	}
}

@media(max-width: 934px) {
	.grid > .item {
		width: calc(50% - 56px);
	}
}

@media(max-width: 614px) {
	.grid > .item {
		width: calc(100% - 56px);
	}
}

@media(max-width: 599px) {
	main {
		padding-top: 16px;
	}

	.desktop {
		display: none;
	}
}

@media(min-width: 600px) {
	nav>button>i {
		margin-bottom: 0.25em;
	}
}

@media(min-width: 800px) {
	sidebar ~ main {
		width: calc(70% - 20vw);
	}
	
	sidebar {
		position: fixed;
		width: calc(30% - 4em);
		right: 0;
		top: 0;
		bottom: 0;
		padding: 3em 2em;
		border-left: 1px solid #BDBDBD;
		border-left: 1px solid var(--normal-outline);
		border-bottom: none;
		max-height: initial;
		overflow-y: scroll;
	}

	sidebar::before {
		display: none;
	}
	
}
