* {
	font-family: 'Miriam Libre', monospace;
	animation-name: fadeIn;
	animation-duration: .3s;
	animation-timing-function: ease-out;
}

@keyframes fadeIn {
	from {opacity: 0;}
	to {opacity: 1;}
}

.noanim {
	animation: none;
}

.noanim>* {
	animation: none;
}

body {
	margin: 0;
	background-color: #FFFFFF;
}

p {
	color: #616161;
}

a {
	cursor: pointer;
	color: #0091EA;
	transition: color .25s;
	-moz-transition: color .25s;
	-webkit-transition: color .25s;
}

a:hover {
	color: #000000;
}

i.material-icons.focusable {
	color: rgba(0, 0, 0, 0.5);

	transition: color .25s;
	-moz-transition: color .25s;
	-webkit-transition: color .25s;
}

i.material-icons.focusable:hover {
	color: rgba(0, 0, 0, 1);
}

i.material-icons.clickable {
	user-select: none;
	cursor: pointer;
}

button {
	border: none;
	outline: none;
	user-select: none;
	cursor: pointer;
	padding: 0.75em 1.25em;
	background-color: #0091EA;
	color: #FFF !important;
	box-shadow: 0 0.1em 0.3em rgba(0, 72, 117, 0.37);

	transition: box-shadow .25s, background-color .25s, color .25s;
	-moz-transition: box-shadow .25s, background-color .25s, color .25s;
	-webkit-transition: box-shadow .25s, background-color .25s, color .25s;
}

button.selectable {
	background-color: rgba(255, 255, 255, 0);
	color: rgba(0, 0, 0, 0.5) !important;
	box-shadow: none;
}

button:hover {
	background-color: #0091EA;
	color: #FFF !important;
	box-shadow: 0 0.4em 1.2em rgba(0, 72, 117, 0.3);
}

button.selectable:hover {
	background-color: rgba(255, 255, 255, 0.2);
	color: #000 !important;
	box-shadow: 0 0.1em 0.3em rgba(0, 0, 0, 0.37);
}

button.selectable[selected] {
	background-color: #0091EA;
	color: #FFF !important;
	box-shadow: 0 0.4em 1.2em rgba(0, 72, 117, 0.5);
}

input[type=checkbox] {
	display: none;
	outline: none;
}

input[type=checkbox] + label {
	display: inline-block;
	height: 24px;
	width: 24px;
	padding: 0;
	margin: 0;
	margin-left: 24px;
	margin-right: 16px;
	background-image: url("/images/ic-checkbox-unchecked.svg");
	outline: none;
}

input[type=checkbox]:checked + label {
	background-image: url("/images/ic-checkbox-checked.svg");
}

input[type=checkbox] + label {
	transform: translateY(6px);
	cursor: pointer;
}

table {
	display: inline-block;
	max-width: 100%;
	overflow-x: auto;
	border-collapse: collapse;
	border: 1px solid #BDBDBD;
}

thead {
	background: #BDBDBD;
}

th, td {
	padding: 0.5em 1em;
	text-align: left;
}

tr {
	border-bottom: 1px solid #BDBDBD;
}

tr:last-child {
	border-bottom: none;
}

snackbar {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding-left: 10vw;
	padding-right: 10vw;
	padding-top: 1em;
	padding-bottom: .5em;
	background-color: rgba(255, 255, 255, 0.7);
	border-top: 1px solid rgba(0, 0, 0, 0.25);
	z-index: 102;

	transition: padding .25s;
	-moz-transition: padding .25s;
	-webkit-transition: padding .25s;
}

snackbar > * {
	vertical-align: middle;
}

snackbar > span {
	display: inline-block;
	padding-right: 2em;
}

snackbar > a {
	float: right;
}

nav {
	width: 80% !important;
	height: auto;
	text-align: center;
	display: block;
	padding: 8px 10%;
	overflow: hidden;
	z-index: 100;
	transition: width .25s;
	-moz-transition: width .25s;
	-webkit-transition: width .25s;
}

nav>button {
	display: inline-block;
	color: rgba(0, 0, 0, 0.5);
	text-decoration: none;
	user-select: none;
	white-space: nowrap;
	margin: 4px;
}

nav>button>* {
	display: table-cell;
	vertical-align: middle;
}

main {
	display: block;
	margin-left: 10vw;
	margin-right: 10vw;
	margin-bottom: 2em;
	padding-top: 2em;
	transition: transform .25s;
	-moz-transition: transform .25s;
	-webkit-transition: transform .25s;
}

footer {
	margin-left: 10vw;
	margin-right: 10vw;
	margin-bottom: 8em;
	transition: transform .25s;
	-moz-transition: transform .25s;
	-webkit-transition: transform .25s;
}

footer > a {
	font-size: .75em;
	color: #606060;
}

.grid {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	margin: -10px;
}

.grid>.item {
	display: grid;
	align-content: center;
	text-align: center;
	padding: 16px;
	width: 200px;
	border: 2px solid #0091EA;
	margin: 10px;
	transition: background-color .25s, box-shadow .25s;
	-moz-transition: background-color .25s, box-shadow .25s;
	-webkit-transition: background-color .25s, box-shadow .25s;
}

.grid>.item:hover {
	background-color: rgba(0, 0, 0, 0.03);
	box-shadow: 0 0.4em 1.2em rgba(0, 72, 117, 0.3);
}

.item:hover>p>a {
	color: #000;
}

a>span {
	display: inline-block;
	text-align: center;
}

@media(min-width: 600px) {
	nav>button>i {
		margin-bottom: 0.25em;
	}
}

@media(max-width: 599px) {
	main {
		padding-top: 16px;
	}

	.desktop {
		display: none;
	}

	.grid > div {
		width: 100%;
	}
}

.item {
    cursor: pointer;
}
