.text__title {
	font-size: 2em;
	font-weight: bolder;
	margin-bottom: 0;
}


.text__meta {
	font-size: 0.9em;
	margin-top: 0;
}

.text__meta * {
	text-decoration: none !important;
	color: inherit !important;
}

.text__attention {
	font-size: 2em;
	line-height: 1em;
}