<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</head>
<body ng-app="Todo">
  <div class="page-container" ng-controller="TodoCtrl">
    <h2>Todo</h2>

      <ul class="todo-list">
        <li ng-repeat="todo in todos track by $index">
          <span>{{ todo }}</span>
          <button class="bt bt-achieve" ng-click="done(todo)">Done</button>
        </li>
      </ul>
  <ul class="add-todo">
    <li>
      <input type="text" class="txt" placeholder="New Todo"
             ng-model="newTodo" ng-keyup="add($event)" />
    </li>
  </ul>
  </div>  
  
  
  
</body>
  <script src="/scriptschat.js"></script>
</body>
</html>
