body {margin:0px;
     padding:0px;
     height:100%;
     width:100%;
     overflow-x:hidden;
     background-color:#E0E0E0;
}
h2 {
     color:#303F9F;
     font-family: Arial, Helvetica, sans-serif;
}
img {max-width:100%;
     height:auto;
}
a {
     font-family: Arial, Helvetica, sans-serif;
     color:#3F51B5;
}

a.right {
     font-family: Arial, Helvetica, sans-serif;
     color:#3F51B5;
     font-weight: bold;
     padding:5px;
     text-decoration: none;
     right:0;
}

.img{
     width:80px;
     height:80px;
}

.card {
    padding: 3%;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0px 10px 20px #616161;
}
     
iframe{overflow:hidden;}
     
.content {
     padding:10px;
     padding-bottom:0px;
     margin-bottom:0px;
     margin-left: auto;
     margin-right: auto;
     background-color:#E0E0E0;
     color:#424242;
     max-height:100%;
     max-width:720px;
}

.normal{
     padding:10px;
     margin-bottom:0px;
     margin-left: auto;
     margin-right: auto;
     background-color:#E0E0E0;
     color:#424242;
     max-height:100%;
     max-width:720px;
}

.btlink {
     padding-left:0px;
     padding-right:20px;
     color:#009688;
     font-weight: bold;
}
}

.white {color:#E0E0E0;}
.blued {background-color:#0097a7;}
.nomargin {margin:0;}
.nopadding {padding:0;}
.normalpadding {padding:5;}
.normalmargin{margin:5;}
.behind{z-index: 0;}
.black{background-color:#dfdfdf;}
.nooutline{outline: none;} 
.front{z-index:999;}
.back{z-index:1;}
.whiteb{background-color:#E0E0E0;}
.light{background-color:#dfdfdf;}
.dark{color:#424242;}
