body {margin:0px;
     padding:0px;
     height:100%;
     width:100%;
     overflow-x:hidden;}
img {max-width:100%;
     height:auto;
}
 a.top {color:#ffffff;
     font-family: Arial, Helvetica, sans-serif;
     padding:5px;
     margin:0px;}
h1.top {color:#ffffff;
    box-shadow:5px, 5px, 0px, #888888;
    padding:25px;
    margin:0px;
    z-index: 199;
}
div.top {background-color:#0097a7;
     padding:10px;
     margin:0px;
     z-index: 200;
     max-height:54px;
}
 header {padding:0px;
     margin:0px;
     width:100%;
     font-family: Arial, Helvetica, sans-serif;}
 h1 {color:#000000;
     background-color:#00bcd4;
     padding:10px;
     margin:0px;
     width:100%;
     font-family: Arial, Helvetica, sans-serif;}
 
 ul.left {padding-top:84px;
     padding-bottom:100%;
     background-color:#eeeeee;
     height:100%;
     width:100px;
    margin:0px;}
    
li.left {
     padding:5px;
     margin:0px;}
     
iframe{width:100%;
     height:calc(100% - 180px);
     overflow:hidden;
}
     
.content {
     padding:10px;
     padding-top:150px;
     padding-bottom:0px;
     margin-bottom:0px;
     background-color:#424242;
     color:#dfdfdf;
     max-height:100%;
}

.white {color:#ffffff;}
.blued {background-color:#0097a7;}
.nomargin {margin:0;}
.nopadding {padding:0;}
.normalpadding {padding:5;}
.normalmargin{margin:5;}
.behind{z-index: 0;}
.black{background-color:#dfdfdf;}
.fixed{max-height:100%;}
