<footer class="footer">
	<hr>

	<div style="display: inline-block; float: right;">
		<input id="darkThemeCheckBox" type="checkbox">
		<label for="darkThemeCheckBox"></label>
		<span>Dark Theme</span>
	</div>
	<script type="text/javascript">
		const _darkThemeCheckBoxElement = document.getElementById("darkThemeCheckBox");
		_darkThemeCheckBoxElement.addEventListener("change", function() {
			if (_darkThemeCheckBoxElement.checked) {
				document.body.className = "--theme-dark";
				document.querySelector("meta[name='theme-color']").setAttribute("content", "#212121");
			} else {
				document.body.className = "";
				document.querySelector("meta[name='theme-color']").setAttribute("content", "#FFFFFF");
			}
		
			if (localStorage) {
				if (_darkThemeCheckBoxElement.checked)
					localStorage.setItem("darkTheme", ".");
				else localStorage.removeItem("darkTheme");
			}
		});

		if (localStorage && localStorage.getItem("darkTheme")) {
			_darkThemeCheckBoxElement.checked = true;
			document.body.className = "--theme-dark";
			document.querySelector("meta[name='theme-color']").setAttribute("content", "#212121");
		} else {
			document.querySelector("meta[name='theme-color']").setAttribute("content", "#FFFFFF");
		}
	</script>
	
	<a class="footer__link" href="/redirects/?t=github&d=${}.github.io" target="_blank">Website Source Code</a>
	<br>
	<a class="footer__link" href="/policies/?web" target="_blank">Privacy Policy</a>
	<br>
	<a class="footer__link" href="/licenses" target="_blank">Open Source Licenses</a>
</footer>

<script src="//instant.page/1.1.0" type="module" integrity="sha384-EwBObn5QAxP8f09iemwAJljc+sU+eUXeL9vSBw1eNmVarwhKk2F9vBEpaN9rsrtp"></script>