<footer class="footer container" style="padding-bottom: 96px;">
	<hr>

	<div style="display: inline-block; float: right;">
		<input id="darkThemeCheckBox" type="checkbox">
		<label for="darkThemeCheckBox"></label>
		<span>Dark Theme</span>
	</div>
	<script type="text/javascript">
	    const _darkThemeCheckBoxElement = document.getElementById("darkThemeCheckBox");
	    const _darkThemeListeners = [];
	    var _darkTheme = false;
	    
	    function setDarkTheme(isDark) {
	        _darkTheme = isDark;
	        _darkThemeCheckBoxElement.checked = isDark;
			if (isDark) {
				document.body.classList.remove("--theme-light");
				document.body.classList.add("--theme-dark");
			} else {
				document.body.classList.remove("--theme-dark");
				document.body.classList.add("--theme-light");
			}
			
	        let color = isDark ? "#212121" : "#FFFFFF";
	        document.querySelector("meta[name='theme-color']").setAttribute("content", color);

			if (localStorage) {
				if (isDark)
					localStorage.setItem("darkTheme", ".");
				else localStorage.removeItem("darkTheme");
			}

			for (let i in _darkThemeListeners) {
			    _darkThemeListeners[i](isDark);
			}
	    }

	    function addDarkThemeListener(listener) {
	        _darkThemeListeners.push(listener);
	        listener(_darkTheme);
	    }
	    
		_darkThemeCheckBoxElement.addEventListener("change", function() {
			setDarkTheme(_darkThemeCheckBoxElement.checked);
		});

		setDarkTheme(localStorage && localStorage.getItem("darkTheme"));
	</script>
	
	<a class="footer__link" href="/redirects/?t=github&d=${}.github.io" target="_blank">Website Source Code</a>
	<br>
	<a class="footer__link" href="/policies/?web" target="_blank">Privacy Policy</a>
	<br>
	<a class="footer__link" href="/licenses" target="_blank">Open Source Licenses</a>
</footer>

<script src="//instant.page/3.0.0" type="module" defer integrity="sha384-OeDn4XE77tdHo8pGtE1apMPmAipjoxUQ++eeJa6EtJCfHlvijigWiJpD7VDPWXV1"></script>