{% assign url = include.blog.url %}
{% if include.blog.redirect %}{% assign url = include.blog.redirect %}{% endif %}
{% assign title = include.blog.title %}
{% if include.blog.redirect %}{% assign domain = include.blog.redirect | split: '/' %}{% assign title = title | append: ' | ' | append: domain[2] %}{% endif %}
<a class="h-entry link" href="{{ url }}" style="display: flex; align-items: start;">
	<span class="link__title" style="white-space: nowrap;"><code><time class="dt-published dt-updated" datetime="{{ blog.date }}">{{ blog.date | date: "%b %d" }}</time></code> &nbsp;</span>
	<span class="link__title">{% if include.blog.redirect %}&#x1f517; {% endif %}{{ title }}</span>
</a>