---
layout: null
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Redirecting to...</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<p id="container"></p>
		<script type="text/javascript" src="/js/utils.js"></script>
		<script type="text/javascript">
			var links = {
				{% assign links = site.links | sort: 'order' %}
				{% for link in links %}
				{{ link.title }}: {
					{% if link.name %}"name": "{{ link.name }}",{% endif %}
					"url": "{{ link.link }}"
				}{% unless link.order == 1 %},{% endunless %}
				{% endfor %} 
			};
		
			var array = window.location.search.substring(1).split("&");
			var args = {};
			for (var i = 0; i < array.length; i++) {
				if (array[i].indexOf("=") >= 0) {
					var argArray = array[i].split("=");
					args[argArray[0]] = argArray[1];
				} else args[array[i]] = true;
			}
			
			if (links[args.t]) {
				var url = links[args.t].url + (args.d != null ? "/" + StringUtil.format(args.d, links[args.t].name) : "");
				document.getElementById("container").innerHTML = "Redirecting to... <a href=\"" + url + "\">" + url + "</a>"
				window.location = url;
			} else location.href="/404.html";
		</script>
	</body>
</html>