@import "src/styles/_colors.scss";

:root {
	--header-bg: var(--color-bg-lighter);
	--header-border: #{$colorPrimary};
}

.section {
	background-color: var(--header-bg);
	border: 1px dashed var(--header-border);
	padding: 1rem;
	padding-right: 20%;
	margin-bottom: 1rem;
	display: flex;

	position: relative;

	flex-direction: column;
	gap: 0.5rem;

	&::after {
		content: ' ';
		pointer-events: none;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;

		background-image: url('data:image/svg+xml,<svg width="24" height="24" viewBox="0 0 6.35 6.35" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg"><path id="rect234" style="fill:currentColor;" d="M 1.4552083,0.79375 V 1.4552084 H 0.79375 V 1.7197917 H 1.4552083 V 2.38125 H 1.7197917 V 1.7197917 H 2.38125 V 1.4552084 H 1.7197917 V 0.79375 Z" /><path id="rect234-6" style="fill:currentColor;" d="M 4.6302083,3.96875 V 4.6302083 H 3.96875 V 4.8947916 H 4.6302083 V 5.55625 H 4.8947917 V 4.8947916 H 5.55625 V 4.6302083 H 4.8947917 V 3.96875 Z" /></svg>');
		mask-image: radial-gradient(circle at 100% 0%, #000F, #0003 20%, #0000 50%);
		mask-mode: alpha;

		@media not (prefers-reduced-motion) {
			animation: backgroundAnim 1s;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
		}

		@include darkTheme {
			filter: invert(1);
		}
	}

	h1 {
		font-size: 2rem;
		font-weight: normal;
		text-shadow: 2px 2px var(--color-primary);
	}

	p {
		display: grid;
		align-items: center;
		grid-template-columns: min-content min-content 1fr;
		gap: 0.5rem;
	}
}

@keyframes backgroundAnim {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 24px 24px;
	}
}
