---
layout: page
---

<div class="tabs">
    {% assign blogs = site.blogs | sort: 'date' | reverse %}
    {% for tag in site.tags %}
    <div id="{{ tag.tag }}">
        <h2>{{ tag.title }}</h2>
        <div>
        {% for blog in blogs %}
        {% if blog.tags contains tag.tag %}
        {% include item-blog.html blog=blog %}
        {% endif %}
        {% endfor %}
        </div>
    </div>
    {% endfor %}

    <div id="all">
        <h2>Blog</h2>
        <p>
            {% for tag in site.tags %}
            <a href="#{{ tag.tag }}"><button class="button" style="margin-bottom: 8px;">#{{ tag.title }}</button></a>&nbsp;
            {% endfor %}
        </p>

        {% for blog in blogs %}
        {% include item-blog.html blog=blog %}
        {% endfor %}
    </div>
</div>
