---
layout: default
title: I Exist
permalink: /existence/
---

<main>
    <h1>Elsewhere</h1>
    <p>
        I have a <a href="https://discord.jfenn.me/">Discord server</a> that I use for testing and collecting feedback for my projects,
        as well as general discussion. If you want to message me privately, you can contact me through any of the services below or
        send me <a href="mailto:{{ site.email }}">an email</a> at {{ site.email }}. For improvements and obvious bugs related to any
        of my projects, I would prefer that you create an issue in the project's GitHub repository (as it will save me time), but feel
        free to contact me for any reason.
    </p>
    
    <h2>Links</h2>
    <div class="layout--grid">
        {% for link in site.links %}
        {% if link.readable %}
        <a class="item item--box" rel="me" href="{{ link.link }}">
            <span class="item__title">{{ link.readable }}</span>
            {% if link.name %}@{{ link.name }}{% endif %}
            {% if link.name and link.verb %}&nbsp;|&nbsp;{% endif %}
            {% if link.verb %}I {{ link.verb }}.{% endif %}
        </a>
        {% endif %}
        {% endfor %}
    </div>
    
    <h2>Organizations</h2>
    <div class="layout--grid">
		{% for org in site.orgs %}
		<a class="item item--box" href="{{ org.link }}">
			<img class="img--round item--box__img" src="{{ org.avatar }}" alt="Organization logo">
			<span class="item__title">{{ org.title }}</span>
			{{ org.description }}
		</a>
    	{% endfor %}
    </div>
</main>
