---
article: true
---

<!DOCTYPE html>
<html>
  <head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }}'s Blog</title>
    {% include head.html %}
  </head>
  <body>
    <main id="main" role="main" class="container">
      <a class="link" href="/#blog">
        <img class="link__img" src="/images/ic/back.svg">
        <span class="link__title">All Blogs</span>
      </a>
      <br>
      <article class="h-entry post" style="max-width: 1000px;">
		<h1 class="text__title p-name">{{ page.title }}</h1>
		<p class="text__meta">
			<a class="p-author h-card" href="{{ site.url }}">{{ site.name }}</a> | 
			<a class="u-url" href="{% if page.redirect %}{{ page.redirect }}{% else %}{{ site.url }}{{ page.url }}{% endif %}">
			<time class="dt-published" datetime="{{ page.date }}">{{ page.date | date: "%B %e, %Y" }}</time></a>
		</p>

		<p>
		{% if page.links %}
      	{% for link in page.links %}
      	<a class="link link--chip" href="{{ link.url }}">
        	<object class="link__img" data="{% if link.icon %}{{ link.icon }}{% else %}undefined{% endif %}" type="image/png">
          		<img class="link__img" src="/images/ic/link.svg">
        	</object>
        	<span class="link__title">{{ link.name }}</span>
      	</a>
      	{% endfor %}
		{% endif %}
		</p>
		
		<br>

        <div class="e-content entry markdown">
          {% if page.redirect %}
          Redirecting to <a href="{{ page.redirect }}">{{ page.redirect }}</a>.
          <script type="text/javascript">
            window.location = "{{ page.redirect }}";
          </script>
          {% else %}
          {{ content }}
          {% endif %}
        </div>

        {% if page.sources and page.sources.size > 0 %}
        <div>
            <h1>Source Citations</h1>
            <ol>
                {% for source in page.sources %}
                <li id="{{ source.id }}" style="margin-bottom: 1em;">
                    <span><b>"{{ source.name }}"</b>, by {{ source.author }}</span><br>
                    <small><a href="{{ source.url }}">{{ source.url }}</a></small>
                </li>
                {% endfor %}
            </ol>
        </div>
        {% endif %}
      </article>
    </main>

    {% include footer.html %}

  </body>
</html>
