<!DOCTYPE html>

<html lang="en">
<head>
	{% include head.html %}
	{% if page.languages %}
		{% include head-highlightjs.html languages=page.languages %}
	{% endif %}
	<link href="/css/md.css" rel="stylesheet">
</head>
<body>

	<sidebar>
		<h2>Links</h2>
		{% for link in page.links %}
		<a class="link" href="{{ link.url }}">
			<object data="{{ link.icon }}" type="image/png">
				<img src="/images/ic/link.svg">
			</object>
			<span>{{ link.name }}</span>
		</a>
		{% endfor %}
		<h2>Contributors</h2>
		{% for contributor in page.contributors %}
		<a class="link" href="{{ contributor.url }}">
			<object class="round" data="{{ contributor.avatar }}" type="image/png">
				<img class="round" src="/images/ic/person.svg">
			</object>
			<span>{{ contributor.login }}</span>
		</a>
		{% endfor %}
		{% assign blogs = site.blogs | where: "project", page.title %}
		{% if blogs.size > 0 %}		
		<h2>Posts</h2>
		{% for blog in blogs reversed %}
		<a class="item" href="{{ site.baseurl }}{{ blog.url }}">
			<span>{{ blog.title }}</span>
			{{ blog.date | date: "%B %e, %Y" }}
		</a>
		{% endfor %}
		{% endif %}
	</sidebar>

	<main>
		{% if page.isWiki or page.isDocs %}
		<nav>
			<button class="selectable" selected><i class="material-icons">info</i><span class="desktop">About</span></button>
			{% if page.isWiki %}
			<button class="selectable" onclick="location.href='wiki/';"><i class="material-icons">assignment</i><span class="desktop">Wiki</span></button>
			{% endif %}
			{% if page.isDocs %}
			<button class="selectable" onclick="location.href='docs/';"><i class="material-icons">list_alt</i><span class="desktop">Docs</span></button>
			{% endif %}
		</nav>
		<br>
		{% endif %}
	
		<h1>{{ page.title }}</h1>
		<a class="link" href="{{ page.git }}"><img src="/images/ic/git.png"><span>{{ page.git }}</span></a>
		<div id="content">
			{{ content }}
		</div>
	</main>
	
	{% include snackbar.html %}
	{% include footer.html %}
</body>
</html>