<!DOCTYPE html>

<html lang="en">
<head>
	{% include head.html %}
	{% include head-highlightjs.html languages=page.languages %}
</head>
<body class="sidebar__container">
	{% include banner.html %}

	<sidebar class="sidebar">
		{% capture sidebar_include %}{% include_relative _Sidebar.md %}{% endcapture %}
		{{ sidebar_include | markdownify }}
	</sidebar>
	<main class="container">
		{% if page.project %}
		<a class="link" href="../">
			<img class="link__img" src="/images/ic/back.svg">
			<span class="link__title">Project Info</span>
		</a>
		{% else %}
		<a class="link" href="./">
			<img class="link__img" src="/images/ic/back.svg">
			<span class="link__title">Wiki Home</span>
		</a>
		{% endif %}
		<br>
		<h1>{{ page.title }}</h1>
		<div class="markdown">
			{{ content }}
		</div>
	</main>

	{% include footer.html %}
</body>
</html>
	