<!DOCTYPE html>

<html lang="en">
<head>
	{% include head.html %}
	<link href="/css/md.css" rel="stylesheet">
</head>
<body>
	<sidebar>
		{% capture sidebar_include %}{% include_relative _Sidebar.md %}{% endcapture %}
		{{ sidebar_include | markdownify }}
	</sidebar>
	<main>
		{% if page.project %}
		<a class="link" href="../"><img src="/images/ic/back.svg"><span>Project Info</span></a>
		{% else %}
		<a class="link" href="./"><img src="/images/ic/back.svg"><span>Wiki Home</span></a>
		{% endif %}
		<br>
		{{ content }}
	</main>

	{% include snackbar.html %}
	{% include footer.html %}
</body>
</html>
	